<div id="contact" class="form-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Información de contacto</h2>
                    <ul class="list-unstyled li-space-lg">
                        <li class="address">No dudes en llamarnos o enviarnos un mensaje a través de whatsapp o usando el formulario de correo</li>
<!--                        <li><i class="fas fa-map-marker-alt"></i>Direccion completa</li>-->
                        <li><i class="fas fa-phone"></i><a class="turquoise" href="tel:04144239765">+58 414-4239765</a></li>
                        <li><i class="fas fa-envelope"></i><a class="turquoise" href="mailto:ejecutivodv4@gmail.com">ejecutivodv4@gmail.com</a></li>
                    </ul>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="map-responsive">
<!--                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100939.98555098464!2d-122.507640204439!3d37.757814996609724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA%2C+USA!5e0!3m2!1sen!2sro!4v1498231462606" allowfullscreen></iframe>-->
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1005260.7885673947!2d-68.53285582852742!3d10.196894618706862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e8042bfb169aa27%3A0x56d1b363b7712ebd!2sCarabobo%2C%20Venezuela!5e0!3m2!1ses-419!2spe!4v1597865802222!5m2!1ses-419!2spe" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    
                    <!-- Contact Form -->
                    <form id="contactForm" data-toggle="validator" data-focus="false">
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="cname" autocomplete="off" required>
                            <label class="label-control" for="cname">Nombre completo</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control-input" id="cemail" autocomplete="off" required>
                            <label class="label-control" for="cemail" >Email</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control-textarea" id="cmessage" required></textarea>
                            <label class="label-control" for="cmessage">Escribeme | No olvides dejar tu num. de telf.</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group checkbox">
                            <input type="checkbox" id="cterms" value="Agreed-to-Terms" required>He leído y estoy de acuerdo con lo declarado por BestsComputer <a href="privacy-policy.html">Política de privacidad</a> y <a href="terms-conditions.html">Términos y condiciones</a> 
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">Enviar Mensaje</button>
                        </div>
                        <div class="form-message">
                            <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form>
                    <!-- end of contact form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-2 -->