<div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">                        
                        <div class="text-container" style='margin-top:0px!important'>
                        <img src="assets/images/logo.png" alt="alternative" style="width: 90px; height: 75px;">
                            <h1><span class="turquoise">Best's Computer</span></h1> <p style="font-size: 15pt;"><b>Más que un servicio</b></p>
                            <p class="p-large">Tu mejor opción en soporte técnico de cómputos y seguridad electrónica</p>
                            <a class="btn-solid-lg page-scroll" href="#services">+Información</a>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img-fluid" src="assets/images/header-teamwork.svg" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->