<div class="container">
    <div class="row">
<!--        <div class="col-md-4">
            <div class="footer-col">
                 <h4>Angel Lugo</h4> 
                 <img class="img-responsive" src="assets/images/logo.png" alt="alternative" style="height: 60px; width: 25%; "> 
                 <p> asdkahs jkadjhkas jkhad</p> 
            </div>
        </div>  end of col -->
        
        
        <div hidden class="col-md-4">
            <div class="footer-col middle">
                <h4>Titulo Link Descrip</h4>
                <ul class="list-unstyled li-space-lg">
                    <li class="media">
                        <i class="fas fa-square"></i>
                        <div class="media-body">Our business partners <a class="turquoise" href="#your-link">startupguide.com</a></div>
                    </li>
                    <li class="media">
                        <i class="fas fa-square"></i>
                        <div class="media-body">Read our <a class="turquoise" href="terms-conditions.html">Terms & Conditions</a>, <a class="turquoise" href="privacy-policy.html">Privacy Policy</a></div>
                    </li>
                </ul>
            </div>
        </div> <!-- end of col -->
        <div class="col-md-4">
            <div class="footer-col last">
                <!--<h4>Redes sociales</h4>-->
                <div class="" style="font-size: 20pt;"><b>Angel Lugo</b></div>
                <div class="" style="font-size: 12pt; padding-top: 5px; padding-bottom: 15px;"><i>CEO Best Computers</i></div>

                <span class="fa-stack">
                    <a href="#!">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-facebook-f fa-stack-1x"></i>
                    </a>
                </span>
                <span hidden class="fa-stack">
                    <a href="#!">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-twitter fa-stack-1x"></i>
                    </a>
                </span>
                <span hidden class="fa-stack">
                    <a href="#!">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-google-plus-g fa-stack-1x"></i>
                    </a>
                </span>
                <span class="fa-stack">
                    <a href="#!">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-instagram fa-stack-1x"></i>
                    </a>
                </span>
                <span class="fa-stack">
                    <a target="_blank" href="https://web.whatsapp.com/send?phone=584144239765&text=%22Hola%21%20estoy%20navegando%20por%20tu%20pagina%20web%20y%20quiero%20contactarme%20contigo%22">
                        <i class="fas fa-circle fa-stack-2x whatsapp"></i>
                        <i class="fab fa-whatsapp fa-stack-1x"></i>
                    </a>
                </span>
                
            </div> 
        </div> <!-- end of col -->
    </div> <!-- end of row -->
</div> <!-- end of container -->