<div id="shop" class="basic-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="vw_catalogo">Catálogo de productos</h2>
                    <p class="p-heading p-large">Cada día son más las personas que realizan Compras Electrónicas desde la comodida del hogar. Visita nuestra tienda y consulta el catálogo de productos que tenemos para ti.</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="assets/images/1_.png" alt="alternative">
                        </div> <!-- end of image-wrapper -->
                        <p class="p-large"><strong>Cables USB</strong></p>
                        <p class="job-title">Carga Rápida / Transf. Datos</p>
                        <!--
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x facebook"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x twitter"></i>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                        </span>  end of social-icons -->
                        
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->

                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="assets/images/2_.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>CCTV</strong></p>
                        <p class="job-title">Cámaras IP / Cableadas</p>
<!--                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x facebook"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x twitter"></i>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                        </span>  end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->

                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="assets/images/conectividad.png"  alt="alternative" >
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Conectividad y Redes</strong></p>
                        <p class="job-title">Cables y Conectores</p>
<!--                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x facebook"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x twitter"></i>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                        </span>  end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->

                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="assets/images/repair.jpg" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Repuestos Variados</strong></p>
                        <p class="job-title">Computadores y Laptops</p>
<!--                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x facebook"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x twitter"></i>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                        </span>  end of social-icons -->
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->

                </div> <!-- end of col -->
                
            </div> <!-- end of row -->
            <a class="btn-solid-lg page-scroll vw_catalogo" href="#Catalogo">Catálogo</a>
        </div> <!-- end of container -->
    </div> <!-- end of basic-4 -->